[project]
name = "kantian-whole"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.4.1",
    "streamlit>=1.53.0",
]

[dependency-groups]
dev = [
    "ruff>=0.14.13",
]
